body {
    background: rgb(153, 30, 103);
    color: rgb(251, 249, 249);
    text-align: center;
    font-family: "Gill Sans", sans-serif;
}

input {
    font-size: 14px;
    height: 30px;
    width: 200px;
}

.commentbox {
    font-size: 12px;
    height: 20px;
    width: 200px;
}

.commentsubmit {
    background: rgb(134, 221, 134);
    color: rgb(251, 249, 249);
    border: None;
    border-radius: 4px;
    font-size: 14px;
    padding: 4px 16px;
    cursor: pointer;
    vertical-align: middle;
}

/* MUST CITE!!!! */
input[type = "file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    color: rgb(87, 190, 254);
    cursor: pointer;
}
/* MUST CITE ABOVE!!!! */

button {
    background: rgb(134, 221, 134);
    color: rgb(251, 249, 249);
    border: None;
    border-radius: 4px;
    font-size: 20px;
    padding: 8px 20px;
    cursor: pointer;
}

button:hover, button:active {
    background: rgb(79, 193, 79);
}

article {
    background: rgb(255, 254, 178);
    border-radius: 25px;
    box-shadow: 0 0 0 2pt black;
    /* padding: 20px;  */
    /* width: auto; */
}

.postcontent {
    box-shadow: 0 0 0 2pt black;
}

.commentsection {
    text-align: left;
}

article p, article span {
    color: rgb(0, 0, 0);
}

h1, h3, h4 {
    color: rgb(0, 0, 0);
}
span {
    padding-left: 1.5em;
    text-indent:-1.5em;
}

a {
    color: rgb(251, 249, 249);
}

h2 {
    font-weight: normal;
    /* padding-right: 500px;
    padding-left: 500px; */
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }

.blogpost {
    font-size: 18px;
}

img {
    vertical-align: middle;
}