/* THE BASICS */

body {
    background: #EFE5DC;
    color: #7E583A;
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
}

header img, footer img, .blog-ad {
    max-width: 100%;
    height: auto;
    width: auto\9;
}

/* Sets font size for "Add profile picture" */
form {
    font-size: 20px;
}

article p, article span {
    color: #36413E;
}

span {
    margin-right: 5px;
}

/* h2 is used on the sign-up and log-in pages as an instruction prompt */
h2 {
    color: #36413E;
}

/* h1, h3, and h4 are used on the blog page */
h1, h3, h4 {
    color: #36413E;
}

a {
    color: #7E583A;
}

img {
    vertical-align: middle;
}

/* Username and password input boxes on the sign-up and log-in pages */
input {
    font-size: 20px;
    height: 45px;
    width: 300px;
}

/* Enter buttons on the sign-up and log-in pages */
button {
    font-family: "Cormorant Garamond", serif;
    background: rgb(134, 221, 134);
    color: rgb(251, 249, 249);
    border: None;
    font-size: 25pt;
    padding: 10px 25px;
    cursor: pointer;
}

button:hover, button:active {
    background: #36413E;
}

/* The following input and custom-file-upload code is 
   from Josh Crozier on stackoverflow.com */
/* Profile: https://stackoverflow.com/users/2680216/josh-crozier */
/* Link to thread: 
https://stackoverflow.com/questions/572768/styling-an-input-type-file-button */
/* Link to jsfiddle code: http://jsfiddle.net/4cwpLvae/ */
input[type = "file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    color: #7E583A;
    cursor: pointer;
}

/* Comment poster username */
span b {
    font-family: "Cedarville Cursive", cursive;
}

hr {
    border: 1px solid #36413E;
}

/* CLASSES */

/* Blog page */

/* This centers the blog posts. */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }

.left{
    width:50%;
    float:left;
    height:100px;
  }

/* This just makes the "Posted by" a little larger. */
.blog-poster-tag {
    font-family: "Cedarville Cursive", cursive;
    font-size: 27px;
    margin-bottom: 0px;
    padding: 5px;
    text-align: center;
}

.post-photo {
    border: 2.5px solid #36413E;
}

.reaction-section {
    width: 100px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
    font-family: "Cedarville Cursive", cursive;
    font-weight: 500;
    font-size: 20px;
    line-height: 2.5;
    margin-left: -15px;
  }

/* These style the reaction buttons. */
.reaction {
    background: rgba(255, 255, 255, 0);
    font-size: 25px;
    border: None;
    cursor: pointer;
    padding: 2px;
}

.reaction:hover, .reaction:active {
    background: rgba(255, 255, 255, 0);
    outline: 2pt solid #36413E;
}

/* This makes the comment section align left. */
.comment-section {
    text-align: left;
    font-size: 18.5px;
}

/* This adds a hanging indent to comments that go over one line. */
.comment {
    display: flex;
    margin-right: 5px;
    margin-bottom: 5px;
    font-weight: 400;
    line-height: 1.2;
}

/* This adjusts the size of the comment box. */
.commentbox {
    font-size: 16px;
    height: 35px;
    width: 250px;
    vertical-align: middle;
}

/* This adjusts the size of the comment submit button. */
.commentsubmit {
    background: rgb(134, 221, 134);
    color: rgb(251, 249, 249);
    border: None;
    /* border-radius: 4px; */
    font-size: 16px;
    padding: 8px 18px;
    cursor: pointer;
}

/* Because the unpublish button on the admin page needed to be different colors
   from the other buttons */
.unpublish-button  {
    background: rgb(242, 86, 86);
    color: rgb(251, 249, 249);
    border: None;
    /* border-radius: 6px; */
    font-size: 25px;
    padding: 10px 25px;
    cursor: pointer;
}

.unpublish-button:hover, .unpublish-button:active {
    background: rgb(255, 0, 0);
}

/* Styles the director's precious emojis */
img.emoji {
    /* Since we are using SVGs, you have to change the width using CSS */
    width: 1.3em;

    /* 
    This is to make the emojis feel like actual emojis to 
    the user and they won't act like images. This makes the emojis
    non-reactive to any mouse events such as dragging, 
    hovering, clicking etc. Makes it feel like its actual text.
    */
    pointer-events: none; 
}

/* The following code that wraps comments and prevents them from going off screen
   is from Rahul on stackoverflow.com */
/* Profile: https://stackoverflow.com/users/6556397/rahul */
/* Link to thread: 
https://stackoverflow.com/questions/3247358/how-do-i-wrap-text-with-no-whitespace-inside-a-td */
.dont-break-out {

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
  
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

.redirect {
    font-size: 14pt;
}